<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>fr.ldnr.app.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AProposPage</servlet-name>
        <servlet-class>fr.ldnr.app.AProposPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilPage</servlet-name>
        <servlet-class>fr.ldnr.app.ProfilPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierProfil</servlet-name>
        <servlet-class>fr.ldnr.app.ModifierProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>fr.ldnr.app.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fr.ldnr.app.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>fr.ldnr.app.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilPage</servlet-name>
        <servlet-class>fr.ldnr.app.AccueilPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanningPage</servlet-name>
        <servlet-class>fr.ldnr.app.PlanningPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AProposPage</servlet-name>
        <url-pattern>/apropos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilPage</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierProfil</servlet-name>
        <url-pattern>/modifierprofil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilPage</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanningPage</servlet-name>
        <url-pattern>/planning</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/accueil.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
