<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>fr.ldnr.app.Applistener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AProposPage</servlet-name>
        <servlet-class>fr.ldnr.app.AProposPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilPage</servlet-name>
        <servlet-class>fr.ldnr.app.ProfilPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierProfil</servlet-name>
        <servlet-class>fr.ldnr.app.ModifierProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fr.ldnr.app.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilController</servlet-name>
        <servlet-class>fr.ldnr.app.AccueilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>fr.ldnr.app.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortirsitetranquilementContr</servlet-name>
        <servlet-class>fr.ldnr.app.SortirsitetranquilementContr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutPage</servlet-name>
        <servlet-class>fr.ldnr.app.CheckoutPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AProposPage</servlet-name>
        <url-pattern>/apropos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilPage</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierProfil</servlet-name>
        <url-pattern>/modifierprofil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilController</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortirsitetranquilementContr</servlet-name>
        <url-pattern>/sortirsitetranquilementContr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutPage</servlet-name>
        <url-pattern>/CheckoutPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/login.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>servlet.filtre.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>servlet.filtre.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
